<h1>Sign in</h1>

<%= form_with url: session_path, method: :post do |form| %>
  <p>username:</p> <%= form.text_field :username %></p>
  <p>password:</p> <%= form.password_field :password %></p>
<p><%= form.submit "Log in", class: "btn btn-primary" %></p>
<% end %>
