<h2>List of ratings</h2>

<p><strong><%= "Number of ratings: #{Rating.count}" %></strong></p>
<ul>
 <% @ratings.each do |r| %>
   <li> 
    <%= r %>
    <%= link_to "#{r.user.username}", user_path(r.user.id) %>
   </li>
 <% end %>
</ul>
 <p><%= link_to("Add a new rating", new_rating_path) if current_user %></p>
