<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |r| %>
   <li> 
    <%= r %>
    <%= link_to "#{(User.find_by id: r.user_id).username}", user_path(current_user.id) %>
   </li>
 <% end %>
</ul>
 <p><%= link_to "Add a new rating", new_rating_path %></p>
