<h2>Breweries</h2>

<table id="brewerytable" class="table table-hover">
  <thead>
    <tr>
      <th> <span id="brewery_name">Name</span> </th>
      <th> <span id="brewery_year">Founded</span> </th>
      <th> <span id="brewery_beercount">Beer count</span> </th>
      <th> <span id="brewery_active">Active</span> </th>
    </tr>
  <thead>
  <tbody>
    <div id="brewerylist"></div>
  </tbody>
</table>
